{% extends "base.html" %}
{% load rest_framework %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css">
    <link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
{% endblock css %}


{% block content %}
    <div class="py-12 flex flex-col">
        <h1 class="flex justify-center text-gray-800 text-2xl py-6">Profile</h1>
        <div class="flex flex-1 justify-center h-full items-center text-black">
            <div class="form-container px-8 w-full md:w-1/2 lg:w-1/3 xl:1/4 2xl:1/6 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

                {% if profile_was_updated %}
                <h3 class="text-green-700 text-lg py-2">Your profile has been updated successfully.</h3>
                {% endif %}

                <form id="profile-update-form" action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="_update_type" value="profile">
        
                    {% for field in profile_serializer %}
                        {% render_field field style=style %}
                    {% endfor %}

                    <select name="phone_numbers" id="phone-numbers" class="hidden" multiple></select>
        
                    <div class="flex items-center justify-between pt-4">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                          Update profile
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <h1 class="flex justify-center text-gray-800 text-2xl py-6">Update password</h1>
        <div class="flex flex-1 justify-center h-full items-center text-black">
            <div class="form-container px-8 w-full md:w-1/2 lg:w-1/3 xl:1/4 2xl:1/6 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

                {% if password_was_updated %}
                <h3 class="text-green-700 text-lg py-2">Your password has been updated successfully.</h3>
                {% endif %}

                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="_update_type" value="password">
        
                    {% for field in password_update_serializer %}
                        {% render_field field style=style %}
                    {% endfor %}
        
                    <div class="flex items-center justify-between">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                          Update password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="fixed z-10 overflow-y-auto top-0 w-full left-0 hidden" id="add-phone-number-modal">
        <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 transition-opacity">
                <div class="absolute inset-0 bg-gray-900 opacity-75"></div>
            </div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
            <div class="inline-block align-center bg-white rounded-lg text-left shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 text-gray-800">

                    <div id="add-phone-number-error" class="hidden"></div>

                    <form id="add-phone-number-form" action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="_update_type" value="add_phone_number">
            
                        {% for field in add_phone_number_serializer %}
                            {% render_field field style=style %}
                        {% endfor %}
                    </form>

                </div>
                <div class="bg-gray-200 px-4 py-3 text-right">
                    <button type="button" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700 mr-2 close-modal-button" data-target="add-phone-number-modal"><i class="fas fa-times"></i> Cancel</button>
                    <button id="save-phone-number-button" type="button" class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700 mr-2"><i class="fas fa-plus"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.js"></script>

    {{ remove_phone_number_from_profile_api|json_script:"remove-phone-number-url" }}
    <script src="{% static 'js/user/profile.js' %}"></script>
{% endblock javascript %}
